<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greatest Bot</title>
    <style>
      body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px;
      }

      pre {
        display: flex;
        flex-direction: column;
      }

      code {
        padding: 1rem;
        background-color: lightgrey;
      }

      footer {
        margin-top: 5rem;
      }
    </style>
  </head>
  <body>
    <h1>CovidPT Discord Bot</h1>

    <p>
      A bot to fetch numbers about the current COVID-19 pandemic on Portugal. Reports are
      fetched from a government website. Check them
      <a href="https://covid19.min-saude.pt/relatorio-de-situacao/">here</a>.
    </p>

    <p>I'm using my friend Fernando's gem to get the data. Check it <a href="https://github.com/frm/covid_pt">here</a></p>

    <p>
      Add me to your server with my
      <a href=<%= @url %>>invite url</a>.
    </p>

    <p>
      How to use:
    </p>

    <pre>
      <code># to get overall info</code>
      <code>!covidpt all</code>

      <code># to get info for a region</code>
      <code>!covidpt Braga</code>
    </pre>

    <footer>
      <p>Made by <a href="https://jfranciscosousa.com">Francisco</a></p>
    </footer>
  </body>
</html>
